<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if request.path == "/users/sign_in" %>
        <a class="back" href="/splash"><i class="fa fa-angle-left"></i></a>
        <span class="navbar-text" style="flex: 0.5;">LOGIN</span>
      <% elsif request.path == "/users/sign_up" %>
        <a class="back" href="/splash"><i class="fa fa-angle-left"></i></a>
        <span class="navbar-text">REGISTER</span>
      <% elsif request.path == "/users/#{params[:user_id]}/groups/#{params[:id]}" %>
        <a class="back" href="/users/<%=params[:user_id]%>/groups"><i class="fa fa-angle-left"></i></a>
        <span class="navbar-text">TRANSACTIONS</span>
      <% elsif request.path == "/splash" %>
        <span style="text-align: center; flex: 1; color: #D2E1EBFF;">WELCOME</span>
      <%else%>
        <a class="back" href="/users/sign_in"><i class="fa fa-angle-left"></i></a>
        <span class="navbar-text">CATEGORIES </span>
      <%end%>
      <%if user_signed_in? %>
        <%=link_to "SIGN OUT", destroy_user_session_path, class: "lolo", method: :delete %>
      <%end%>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
